
@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="d-flex justify-content-center align-content-center pt-4">
    <form class="px-md-5 col-3" action="/XinNghiPhep/ThemMoi" method="post">
        <div class="form-group">
            <label for="start">Ngày bắt đầu</label>
            <input type="date" class="form-control" id="start" name="start" required>
        </div>
        <div class="form-group">
            <label for="end">Ngày kết thúc</label>
            <input type="date" class="form-control" id="end" name="end" required>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-2">Gửi</button>
        </div>
        <p class="text-danger">@ViewBag.Message</p>
    </form>
</div>
<div class="d-flex justify-content-center pt-4">
    
    <p class="text-danger">(Lưu ý: Nhân viên sẽ nghỉ từ ngày bắt đầu cho đến hết ngày ngay trước ngày kết thúc)</p>
</div>
<script>
    var today = new Date();
    var dateStart = new Date(today.setDate(today.getDate() + 1)).toISOString().split('T')[0];
    var dateEnd = new Date(today.setDate(today.getDate() + 1)).toISOString().split('T')[0];
    document.getElementById("start").setAttribute('min', dateStart);
    document.getElementById("end").setAttribute('min', dateEnd);
</script>